<%= form_for @user, :html => { :class => 'iform' } do |f| %>
	<% if @user.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> encountered:</h2>

			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :username %>
		<div><%= f.text_field :username %></div>
	</div>
	<div class="field">
		<%= f.label :password %>
		<div><%= f.password_field :password, :value => "" %></div>
	</div>
	<div class="field">
		<%= f.label :new_password_confirmation %>
		<div><%= f.password_field :password_confirmation %></div>
	</div>
	<div class="field">
		<%= f.label :email %>
		<div><%= f.text_field :email %></div>
	</div>
	<div class="field">
		<%= f.label :email_confirmation %>
		<div><%= f.text_field :email_confirmation, :value => @user.email %></div>
	</div>
	<%= f.submit %>
<% end %>
