<%= form_for @user, :html => { :onsubmit => "return validate_registration();" } do |f| %>
	<header>
		<h1>Forget-Me-Not Sign Up</h1>
		<p>Register and share lists with your friends!</p>
	</header>

	<% if @user.errors.any? %>
	<div class="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> encountered:</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<label for="user_username">Username <small>Enter a username</small></label>
		<div><%= f.text_field :username, :required => 'required', :size => '22', :maxlength => '32', :title => 'Please enter a username of length at least 4 and consisting of only letters, numbers and underscores', :pattern => '[\w]{4,32}' %></div>
	</div>

	<div class="field">
		<label for="user_email">Email <small>Enter your email address</small></label>
		<div><%= f.email_field :email, :required => 'required', :size => '22', :maxlength => '64', :title => 'Please enter your email address', :pattern => '[\w\.]+@([\w]+\.)+[\w]{2,}' %></div>
	</div>

	<div class="field">
		<label for="user_email_confirmation">Confirm Email <small>Confirm email address</small></label>
		<div><%= f.email_field :email_confirmation, :required => 'required', :size => '22', :maxlength => '64', :title => 'Please confirm the email address above', :pattern => '[\w\.]+@([\w]+\.)+[\w]{2,}' %></div>
	</div>

	<div class="field">
		<label for="user_password">Password <small>Minimum of 6 characters</small></label>
		<div><%= f.password_field :password, :required => 'required', :size => '22', :maxlength => '64', :title => 'Please enter a password of length at least 6', :pattern => '.{6,64}' %></div>
	</div>

	<div class="field">
		<label for="user_password_confirmation">Confirm Password <small>Confirm password</small></label>
		<div><%= f.password_field :password_confirmation, :required => 'required', :size => '22', :maxlength => '64', :title => 'Please confirm the password above', :pattern => '.{6,64}' %></div>
	</div>

	<%= f.submit :value => 'Sign Up' %>
<% end %>
