<%= form_for(@permission) do |f| %>
	<% if @permission.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@permission.errors.count, "error") %> encountered:</h2>

			<ul class="logo">
			<% @permission.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :add %><br />
		<%= f.check_box :add %>
	</div>
	<div class="field">
		<%= f.label :edit %><br />
		<%= f.check_box :edit %>
	</div>
	<div class="field">
		<%= f.label :del %><br />
		<%= f.check_box :del %>
	</div>
	<div class="field">
		<%= f.label :own %><br />
		<%= f.check_box :own %>
	</div>

	<%= f.text_field :user_id, :type => 'hidden', :value => params[:new_permission_user_id] %>
	<%= f.text_field :list_id, :type => 'hidden', :value => session[:list_id] %>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
