<%= form_for @permission, :html => { :class => 'iform' } do |f| %>
	<% if @permission.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@permission.errors.count, "error") %> encountered:</h2>

			<ul class="logo">
			<% @permission.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :add %>
		<div><%= f.check_box :add %></div>
	</div>
	<div class="field">
		<%= f.label :edit %>
		<div><%= f.check_box :edit %></div>
	</div>
	<div class="field">
		<%= f.label :del %>
		<div><%= f.check_box :del %></div>
	</div>
	<div class="field">
		<%= f.label :own %>
		<div><%= f.check_box :own %></div>
	</div>

	<%= f.text_field :user_id, :type => 'hidden', :value => (params[:new_permission_user_id] ? params[:new_permission_user_id] : @permission.user_id)  %>
	<%= f.text_field :list_id, :type => 'hidden', :value => (session[:list_id]? session[:list_id] : @permission.list_id) %>

	<%= f.submit %>
<% end %>
