<div class="doc">

<h1>Create a new permission</h1>

<% if (!params[:new_permission_user_id] or params[:already_exists]) and params[:not_initial_run]%>
	<div id="error_explanation">
		<h2>Error</h2>
		<p>
	<% if !params[:already_exists]%>
			Sorry! It looks like you've entered an invalid username. This user doesn't seem to exist.
		<% else %>
			Sorry! This person already has permissions to access their list. If you go back, you can go and edit their permissions.
		<% end %>
		</p>
	</div>
<% end %>

<%= form_tag("/search_for_user", :method => "get") do %>
	<%= label_tag(:username, "Search for user:", :placeholder => "Enter username here...") %>
	<%= text_field_tag('username') %>
	<%= submit_tag("Search") %>
<% end %>

<% if params[:new_permission_user_id] and !params[:already_exists] %>
<h2>Adding permissions for <%= User.find_by_id(params[:new_permission_user_id]).username%></h2>
<%= render 'form' %>
<% end %>

<%= button_to 'Back', {:controller => "permissions", :action => "index"}, :method => :get, :target => 'ui_display' %>

</div>
