<section id="dash">
	<div class="popup"><a href="#">Log Out</a><div>Are you sure?<%= button_to 'Yes', 'logout', :method => :delete  %></div></div>
</section>
<aside id="controls">
	<div class="popup">
		<a href="#">Lists</a>
		<div>
			<table>
				<tr>
					<th>Name</th>
					<th></th>
					<th></th>
				</tr>
				<% User.find(session[:user_id]).lists.each do |list_id| %>
				<tr>
					<td><%= link_to List.find(list_id).name, {:controller => "items", :action => "index", :list_id => list_id, :comp => 'f' }, :target => 'ui_display' %></td>
					<td><%= button_to 'Rename', edit_list_path(List.find(list_id)), :method => :get if Permission.find_by_user_id_and_list_id(session[:user_id], list_id).own%></td>
					<td><%= button_to 'Delete', List.find(list_id), :confirm => 'Are you sure?', :method => :delete if Permission.find_by_user_id_and_list_id(session[:user_id], list_id).own%></td>

					<td></td>
				</tr>
				<% end %>
			</table>
		
		
		<ol>
			<% User.find(session[:user_id]).lists.each do |list_id| %>
			<li><%= link_to List.find(list_id).name, {:controller => "items", :action => "index", :list_id => list_id, :comp => 'f' }, :target => 'ui_display' %></li>
			<% end %>
		</ol></div>
		<%= link_to 'New List', {:controller => "lists", :action => "new"}, :target => 'ui_display' %>
	</div>
</aside>
<aside id="extra">
</aside>
<section id="list_view">
	<iframe name="ui_display" id="ui_display"></iframe>
</section>
