<!DOCTYPE html>
<html lang="en-AU">
<head>
	<meta charset="utf-8" />
	<title>FMN: The Shared To-do List</title>
	<!-- <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection" /> -->
<!-- ruby on rails start -->
<%= favicon_link_tag 'favicon.png', :rel => 'icon', :type => 'image/png' %>
<%= stylesheet_link_tag("global") %>
<%= stylesheet_link_tag("application") %>
<%= stylesheet_link_tag("signup") %>
<%= javascript_include_tag :defaults, :type => 'application/ecmascript' %>
<%= csrf_meta_tag %>
<!-- ruby on rails end -->
</head>
<body onload="load()" style="background: transparent none;">
<%= yield %>
</body>
</html>
