<%= form_for @item, :html => { :class => 'iform' } do |f| %>
	<% if @item.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@item.errors.count, "error") %> encountered:</h2>

			<ul>
			<% @item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<div><%= f.text_field :name %></div>
	</div>
	<div class="field">
		<%= f.label :description %>
		<div><%= f.text_field :description %></div>
	</div>
	<div class="field">
		<%= f.label :due_date %>
		<div><%= f.date_select :due_date %></div>
	</div>
	<div class="field">
		<%= f.label :completed %>
		<div><%= f.check_box :completed %></div>
	</div>
	<%= f.submit %>
<% end %>
