<h1>Listing <%= params[:comp] == 't' ? "Completed" : "Incomplete" %> items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Due Date</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.due_date %></td>
    <td><%= check_box item, :completed %></td>
    <td><%=	button_to 'Show', item, :method => :get %></td>
    <td><%= button_to 'Edit', edit_item_path(item), :method => :get %></td>
    <td><%= button_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
<%= link_to 'See Pending Items', {:controller => "items", :action => "index", :list_id => session[:list_id], :comp => 'f'}, :target => 'item_display' %>
<%= link_to 'See Completed Items', {:controller => "items", :action => "index", :list_id => session[:list_id], :comp => 't'}, :target => 'item_display' %>
