<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Due Date:</b>
  <%= @item.due_date %>
</p>

<p>
  <b>Completed:</b>
  <%= @item.completed %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', {:controller => "items", :action => "index", :list_id => session[:list_id], :comp => 'f'}, :target => 'ui_display' %>
