<%= form_for @list, :html => { :class => 'iform' } do |f| %>
	<% if @list.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@list.errors.count, "error") %> encountered:</h2>

			<ul class="logo">
			<% @list.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<div><%= f.text_field :name %></div>
	</div>
	<%= f.submit %>
<% end %>
